@font-face {
  font-family: "Codystar";
  font-style: normal;
  font-weight: 400;
  src: local("Codystar"), url(http://themes.googleusercontent.com/static/fonts/codystar/v1/BraFEMRumMsVbWgqTQIWRHYhjbSpvc47ee6xR_80Hnw.woff) format("woff");
}

body {
  color: white;
  background-color: black;
  background-image: -moz-linear-gradient(270deg, #000, #272727);
  background-image: -webkit-linear-gradient(270deg, #000, #272727);
  font-family: Univers, "Helvetica Neue", Helvetica, sans-serif;
}

.roman {
  font-variant: small-caps;
}

a {
  text-decoration: none;
  color: #ffff00;
}

footer {
  padding: 0.5em;
  font-size: smaller;
  text-align: center;
}
